<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">Version 1.0.0</div>
    <strong>
        Copyright &copy; @DateTime.Now.Year 
        <a href="#" class="text-decoration-none">Attendance Management System</a>.
    </strong>
    All rights reserved.
</footer>

