
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

@model AMS.Models.ViewModels.AddUserViewModel

<h2>Add New User</h2>

<div class="card card-primary card-outline mb-4 " >
    <div class="card-header">
        <div class="card-title"></div>
    </div>
</div>






@section Scripts {
    <script>
        const roleSelect = document.getElementById("roleSelect");
        const rollField = document.getElementById("rollNumberField");

        roleSelect.addEventListener("change", () => {
            rollField.style.display = roleSelect.value === "Student" ? "block" : "none";
        });
    </script> }